body {
    background-color: rgba(252, 243, 126, 0.274);
}

h1 {
display: block;
color: rgb(0, 0, 0);
text-align: center;
font-size: 3em;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: black;
text-shadow: 2px 2px 5px red;
}

button {
    background-color: green;
}

#myNumber {
    border: 12px double black;
    color: red;
    padding: 20px;
    margin: 70px auto 10px auto;
    width: 250px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

#houseNumber {
    border: 12px double black;
    color: red;
    padding: 20px;
    margin: 70px auto 10px auto;
    width: 250px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.container {
    width: 250px;
    height: auto;
    overflow: hidden;
    border: 12px double;
    background: transparent;
    margin: auto;
    padding: 20px;
}

p {
    text-align: center;
    font-size: 2.5em;
}
