body {
    background-color: rgba(8, 121, 4, 0.616) !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    justify-content: space-between;
}

h1 {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3em;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 5px grey;
}


#myNumber {
    border: 12px double black;
    color: white;
    padding: 20px;
    margin: 70px auto 10px auto;
    width: 250px;
    text-align: center;
    font-size: 2rem;
}

#houseNumber {
    border: 12px double black;
    color: white;
    padding: 20px;
    margin: 70px auto 10px auto;
    width: 250px;
    text-align: center;
    font-size: 2rem;
}

#deal {
    border: 12px double black;
    color: white;
    background-color: #2185D0;
    padding: 20px;
    margin: 70px auto 10px auto;
    width: 250px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}
#deal:hover {
    background-color: #127ac9;
}

.answer-container {
    width: 250px;
    height: auto;
    overflow: hidden;
    border: 12px double;
    background: transparent;
    margin: auto;
    padding: 20px;
}

p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

#result {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 50px;
    margin: 10px;
}